{{>header}}

<div class="spinner-border text-danger" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<div class="container">
    <div class="groupCardBook">
        <div class="groupNotFound" style="text-align: center;">
            <img src="/images/welcome.png" alt="" width="500" height="380">
            <p id="welcomeTitle">Selamat Datang, Yuk Mulai Baca Buku :)</p>
        </div>
    </div>
</div>

<div class="searchCard">
    <div class="container">
        <div class="groupSearchContent">
            <form id="form1">
                <input type="text" placeholder="Cari buku disini" id="searchBook" autocomplete="off">
                <div class="btnCariBuku">Cari</div>
            </form>
        </div>
    </div>
</div>