{{>header}}

<div class="container">
    <div class="heroGroup">
        <div class="leftHero">
            <p id="topTitle">Perpustakaan Desa Tahunan</p>
            <p>Baca Bukumu <br> Buku Jendela Ilmu</p>
            <a href="/content"><div class="btnBaca">Yuk Baca</div></a>
        </div>
        <div class="rightHero">
            <img src="/images/ilustrate.png" alt="" width="547" height="422">
        </div>
    </div>
</div>

{{>logoFooter}}

{{>footer}}