<footer>
    <div class="waveGroup">
        <img src="/images/wave1.png" alt="" width="350" height="240">
        <img src="/images/wave2.png" alt="" width="350" height="240" id="rightWave">
    </div>
</footer>