<header>
    <div class="groupNavbar mx-auto">
        <div class="container" id="groupNav">
            <div class="logo">
                <img src="/images/thisLogo.png" alt="" width="190" height="43">
            </div>
            <div class="navBtn">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </div>
            <div class="loginbtn">
                <a href="/login"><div class="btnLogin">Masuk</div></a>
                <img src="/images/menu.png" alt="" width="24" height="24" id="hamburger_menu">
                <img src="/images/add.png" alt="" width="24" height="24" id="registerBtn">
            </div>
        </div>
        <div class="mobileBar">
            <img src="/images/cancel.png" alt="" width="25" height="25" id="closeIcon">
            <div class="groupLink">
                <h3><a href="/">Home</a></h3>
                <h3><a href="">Contact</a></h3>
                <h3><a href="">About</a></h3>
                <h3><a href="/login">Masuk</a></h3>
            </div>
        </div>
    </div>
</header>